*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 15px 0px 15px 15px;
  position: fixed;
  width: 420px;
  background-color: black;
}

.restaurant-list {
  padding-top: 45px;
  width: 100%;
  background-color: #dad9db;
}

h1 {
  font-size: 1.7em;
  font-weight: bold;
  color: black;
  padding-bottom: 5px;
  padding-left: 20px;
}

h3 {
  font-size: 1.3em;
  color: black;
  padding-bottom: 10px;
  padding-left: 20px
}

.location {
  width: 100%;
  border-bottom: 1px solid #777;
  padding-top: 20px;
  padding-bottom: 10px;
}

.location:hover {
  background-color: #C4C3C3;
  width: 100%;
}

.content {
  display: inline-block;
  width: 90%;
}

.arrow {
  display: inline-block;
  float: right;
  width: 10%;
  padding-top: 10px;
}
